body {
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightblue;
}

* {
    box-sizing: border-box;
}
header {
    background-color: lightblue;
    height: 3rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2em;
    padding: 0 1em;    
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    padding: 1em;
}

.bookcard {
    padding: 2em;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;   
    font-size: 14px;   
}

.bookcard h1 {
    font-size: 2em;
}

.bookcard p {
    padding: 0;
    font-size: 1.2em;
}

.bookcard .interact {
    display: flex;
    gap: 1em;
}
button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 2em;
    color: white;
    font-weight: 600;
}

.addBook {
    background-color: rgb(66, 133, 162);
}

.addBook:hover {
    background-color: rgb(58, 115, 139);
}

.remove {
    background-color : rgb(214, 101, 101);
}

.remove:hover {
    background-color : rgb(196, 92, 92);
}

.status {
    background-color: rgb(86, 216, 86);
}

.status:hover {
    background-color: rgb(79, 189, 79);
}

/* Add book form */

.new-book {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.submit-book {
    background-color: rgb(66, 133, 162);
}

label {
    width: 250px;
    text-align: left;
}

input:not(#read-status) {
  float: right;
}

.new-book > label:nth-of-type(4) {
    text-align: center;
}
